{% extends "base.html" %}
{% block content %}

    <div class="sensordataHeader">
        <div class="headerItem">
            <h3>Sensordaten</h3>    
        </div>
        <div>
            <img src="../static/Icons/batteryStatus/batteryStatus-{{ batteryValue }}.png" class="batteryStatusIcon">
        </div>
    </div>
    <div class="gridContainer">
        <div class="gridItem">
            <div class="dataBoxItem">
                {% if temperatureValue > 10.0 %}
                <img src="../static/Icons/temperature/temperatureHigh.png" class="temperatureIcon">
                {% else %}
                <img src="../static/Icons/temperature/temperatureLow.png" class="temperatureIcon">
                {% endif %}
            </div>
            <div class="dataBoxItem">
                <h1>Temperature</h1>
            </div>
            <div class="dataBoxItem">
                <p>{{ temperatureValue }}°C</p>
            </div>  
        </div>
        <div class="gridItem">
            <div class="dataBoxItem">
                <h1 class="dataBoxItem">Humidity</h1>
            </div>
            <div class="dataBoxItem">
                <p class="dataBoxItem">{{ humidityValue }}</p>
            </div>
        </div>
        <div class="gridItem">
            <div class="dataBoxItem">
                <h1>Soil Moisture</h1>
            </div>
            <div class="dataBoxItem">
                <p>{{ soilMoistureValue }}</p>
            </div>
        </div>
        <div class="gridItem">
            <div class="dataBoxItem">
                <h1>Rain</h1>
            </div>
            <div class="dataBoxItem">
            <p>{{ rainValue }}</p>
            </div>
        </div>
    </div>

{% endblock content %}

